[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
schedule = "*"
solaredge = "0.0.4"
toml = "*"
pylint = "*"
mysqlclient = "*"
pandas = "*"

[dev-packages]

[requires]
